body
{
    background: #000000;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html
{
    height: 100%;
    margin: 0;
}

body
{
    min-height: 100%;
}

h1
{
    color: #000000;
}

#flex-container
{
    background: #748b9b;
    margin: auto;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flex-container > div
{
    margin: auto;
    width: 90%;
}

#header
{
    padding-top: 20px;
}

#header img
{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

#main
{
    flex-grow: 1;
}

#instagram iframe
{
    width: 100%;
}

#footer
{
    padding-bottom: 20px;
}

#footer img
{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
